* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  
  h2 {
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #c3004a;
    margin-bottom: 20px;
  }
  
  .options li {
    list-style: none;
    margin-bottom: 10px;
  }
  
  .options li a {
    text-decoration: none;
    color: black;
  }
  
  .options li:hover {
    cursor: pointer;
  }
  
  .options li a:hover {
    color: #c3004a;
    text-decoration: none;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .options li a:visited {
    color: black;
    text-decoration: none;
  }
  .global-footer {
    position: relative;
    height: 90px;
  }

  .global-footer .vlaanderenlogo {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    margin-top: 40px;
    background-image: url(/img/vlaanderen-logo-small.png);
    height: 75px;
    width: 75px;
  }

  .global-footer .logo {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 100px;
    margin-top: 40px;
    background-image: url(/img/logo_mobile.png);
    width: 150px;
    height: 42px;
  }

  .global-footer .silhouetten {
    display: none;
    position: absolute;
    right: 5px;
    bottom: 5px;
    margin-top: 40px;
    width: 480px;
    height: 157px;
  }

  @media (min-width: 992px) {
    .global-footer .logo {
      margin-left: 30px;
      background-image: url(/img/logo.png);
      width: 178px;
      height: 50px;
    }

    .global-footer .silhouetten {
      display: block;
      background-image: url(/img/mannekes-silhouetten.png);
    }
  }